#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  netdata:
    image: netdata/netdata:{{ netdata_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}
    pid: host
    network_mode: host

    {{ docker_project_service_additional_options | indent(4) }}

    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN

    security_opt:
      - apparmor:unconfined

    volumes:
      - ./config/netdata:/etc/netdata

      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata

      {% for item in netdata_default_docker_volumes | default([]) %}
      {% if item.comment is defined %}
      # {{ item.comment }}
      {% endif %}
      - {{ item.volume | default(item) }}
      {% endfor %}

      {% for item in netdata_extra_docker_volumes | default([]) %}
      {% if item.comment is defined %}
      # {{ item.comment }}
      {% endif %}
      - {{ item.volume | default(item) }}
      {% endfor %}

    {% if (netdata_extra_deb_packages | length > 0)
       or (netdata_api_use_ssl and netdata_api_healthcheck_domain)
       or (netdata_claim_token) %}
    environment:
    {% endif %}
      {% if netdata_extra_deb_packages | length > 0 %}
      - NETDATA_EXTRA_DEB_PACKAGES={{ netdata_extra_deb_packages | join(',') }}
      {% endif %}
      {% if netdata_api_use_ssl and netdata_api_healthcheck_domain %}
      - NETDATA_HEALTHCHECK_TARGET=https://{{ netdata_api_healthcheck_domain }}:{{ netdata_port }}/api/v1/info
      {% endif %}
      {% if netdata_claim_token %}
      - NETDATA_CLAIM_TOKEN={{ netdata_claim_token }}
      - NETDATA_CLAIM_URL={{ netdata_claim_url }}
      - NETDATA_CLAIM_ROOMS={{ netdata_claim_rooms | default([]) | join(',') }}
      {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}
      {{ docker_project_service_additional_labels | indent(6) }}

volumes:
  netdatalib:
  netdatacache:

{{ docker_project_compose_additional_options }}
